*{
    background-color: black;
    color: azure;
   
}

#container{
    justify-content: center;
    text-align: center;
   
}
#clock{
    background-color: aqua;
    padding: 50px;
    border-radius: 40px;
    font-size:large ;
}